h1 {
    height: 24px;
    color: blue;
    font-family: 'Roboto', sans-serif;

}
h2 {
    height: 20px;
    color: #0000ff;
    font-family: 'Roboto', sans-serif;
}
h3 {
    height: 16px;
    color: teal;
    font-family: 'Roboto', sans-serif;
}
.p1 {
    color: #4D4D4D;
    
}
a {
    color: #8A2BE2;
    text-decoration: none;
}